@font-face{
    font-family: "TitilliumWeb-Bold";
    src: url('./assets/titillium-web/TitilliumWeb-Bold.ttf'), format('truetype');
    font-weight: bold;
    font-style: normal;
    }
body {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
}
h1{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 3.5rem;
    color: rgba(69, 69, 69, 255);
    text-align: center;
}
.purple{
    color: #775b92;
}
.red{
    color: rgb(231, 71, 71);
}
/* header */
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
nav{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 4.5%;
}
.nav__logo__lang__wrap{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 11%;
}
.nav__logo a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 2rem;
    color: rgba(133, 134, 136, 255);
    text-decoration: none;
    font-weight: bold;
}
.nav__lang__item{
    list-style: none;
    margin-right: 10%;
    position: relative;
}
.nav__lang__item::after{
    content: '/';
    display: block;
    position: absolute;
    left: 100%;
    margin-left: 10%;
    top: 3px;
}
.nav__lang__item:last-child::after{
    display: none;
}
.nav__lang__items{
    display: flex;
    position: absolute;
    left: -24%;
}
.nav__lang__items a{
    text-decoration: none;
}

.nav__lang__item__link:hover{
    color: #585454;
    font-weight: bold;
    text-decoration: underline;

}
.nav__lang__item__link{
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 1rem;
    color: rgba(149, 149, 149, 255);
    align-items: flex-start;
}
.nav__menu__item{
    list-style: none;
    margin-left: 5%;
}
.nav__menu__item:nth-child(6){
    margin-right: 11%;
}
.nav__menu__items{
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.nav__menu__items a{
    text-decoration: none;
}
.nav__menu__item__link{
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 1rem;
    color: rgba(69, 69, 69, 255);
}
.nav__menu{
    position: absolute;
    right: 23%;
}
.nav__login__item__img{
    width:15px;
    height: 15px;
}
.nav__login__item{
    display: flex;
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #2e2b2b;
}
.nav__sign__item__btn{
    background-image: url('./assets/signGradient.png'), url('./assets/sign.png');
    width: 97px;
    height: 43px;
    border-radius: 6em/3em;
    box-shadow: 0 2px 24px -2px;
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 1rem;
    font-weight: bold;  
}
/* main */
main{
    
}
.main__banner{
    position: relative;
}
.main__banner__account-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10.5%;
    right: 1.7%;
}
.main__banner__account-icons__google{
    background: url('./assets/google.png') no-repeat;
    width: 19px;
    height: 18px;
    margin-bottom: 20px;
}
.main__banner__account-icons__facebook{
    background: url('./assets/facebook.png')no-repeat;
    width: 19px;
    height: 18px;
    margin-bottom: 20px;
}
.main__banner__account-icons__twitter{
    background: url('./assets/twitter.png')no-repeat;
    width: 17px;
    height: 17px;
}
.main__banner__h1{
    position: absolute;
    top: 11.9%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main__banner__image{
    width: 100%;
}
.main__banner__h1--sm{
    font-size: 1.9rem;
    display: block;
}

button{
    border: none;
    display: inline-block;
}
.main__banner__btn{
    position: absolute;
    top: 16.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.main__banner__btn__acc{
    background: url('./assets/Rounded\ Rectangle\ 4@1X.png');
    width: 246px;
    height: 56px;
    margin-right:24px;
}
.main__banner__btn__acc--theme{
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.main__banner__btn__apple{
    background: url('./assets/Ellipse\ 1@1X.png');
    width: 46px;
    height: 46px;
    margin-right:21px;
}
.main__banner__btn__google{
    position: relative;
    background: url('./assets/Ellipse\ 1\ copy@1X.png');
    width: 46px;
    height: 46px;
}
.main__banner__btn__google--theme{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main__feat{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 28.7%;
    left: 17%;
    right: 10%;
}
.main__feat__privacy{
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*.main__feat__privacy:after{
    content: '';
  width: 0;
  height: 210px;
  position: absolute;
  border: 1px solid  rgba(149, 147, 147, 255);
  top: -70%;
  left: 30%;
}*/
.main__feat__privacy__title__image{
    display: flex;
    align-items: center;
}
.main__feat__privacy__main-title{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 2rem;
    color: rgba(85, 85, 85, 255);
}
.main__feat__privacy__subtitle{
    display: block;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 1rem;
    color: rgba(149, 147, 147, 255);
}
.main__feat__privacy__text{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 0.8rem;
    color: rgba(149, 147, 147, 255);
    padding-right: 18%;
    line-height: 1.5rem;
}
.main__feat__encrypt{
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*.main__feat__encrypt:after{
    content: '';
  width: 0;
  height: 433px;
  position: absolute;
  border: 1px solid  rgba(149, 147, 147, 255);
  top: 11px;
  left: 840px;
}*/
.main__feat__encrypt__title__image{
    display: flex;
    align-items: center;
}
.main__feat__encrypt__main-title{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 2rem;
    color: rgba(85, 85, 85, 255);
}
.main__feat__encrypt__subtitle{
    display: block;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 1rem;
    color: rgba(149, 147, 147, 255);
}
.main__feat__encrypt__text{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 0.8rem;
    color: rgba(149, 147, 147, 255);
    padding-right: 18%;
    line-height: 1.5rem;
}
.main__feat__anonym{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main__feat__anonym__title__image{
    display: flex;
    align-items: center;
}
.main__feat__anonym__main-title{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 2rem;
    color: rgba(85, 85, 85, 255);
}
.main__feat__anonym__subtitle{
    display: block;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 1rem;
    color: rgba(149, 147, 147, 255);
}
.main__feat__anonym__text{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 0.8rem;
    color: rgba(149, 147, 147, 255);
    padding-right: 18%;
    line-height: 1.5rem;
}

/*section physical security*/
.main__phys-security{
    position: absolute;
    top: 40.6%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.main__phys-security__wrap{
    position: relative;
    width: 79%;
    height: 100%;
}
.main__phys-security__title{
    display: block;
    /*position: absolute;
    top: 0;
    right:0;*/
    text-align: right;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 3.5rem;
    color: rgba(83, 83, 83, 255);
}
.main__phys-security__subtitle{
    display: block;
    /*position: absolute;
    top: 20%;
    right: 0;*/
    text-align: right;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 1.5rem;
    color: rgba(149, 147, 147, 255);
}
.main__phys-security__btn__secur-feat{
    background: url('./assets/btnPhysSec.png');
    width: 334px;
    height: 62px;
    position: absolute;
    left: 78%;
    top:110%;
}
.main__phys-security__btn__secur-feat--theme{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 1rem;
    color: rgba(103, 103, 103, 255);
    text-align: center;
   
}
.main__partners__logo__img{
    background: url('./assets/partners.png') no-repeat;
    display: block;
width: 100%;
height: 100%;

    /*width: 100%;
    height: 100%;*/
    position: absolute;
    top: 46.2%;
    left: 1%;
}
.main__quote{
    position: absolute;
    top: 50.3%;
    left: 20.3%;
    display: flex;
    align-items: flex-start;
}
.main__quote__slide--black{
    background: url('./assets/slideBlack.png');
    width: 13px;
    height: 13px;
    margin-bottom: 11px;
}
.main__quote__slide--grey{
    background: url('./assets/slideGrey.png');
    width: 11px;
    height: 11px;
    margin-bottom: 11px;
}
.main__quote__text{
    margin-top: -5px;
    margin-left: 24px;
    width: 525px;
    height: 143px;
    font-family: 'MalagaOT-RegItalic', serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    color: rgba(16, 16, 16, 255);
    text-align: left;
}
.main__quote__author{
    display: block;
    color: rgba(149, 147, 147, 255);
    font-size: 1.1rem;
}
.main__devices{
    position: absolute;
    top: 61.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 435px;
    text-align: right;
}
.main__devices__title{
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 2.2rem;
    color: rgba(83, 83, 83, 255);
}
.main__devices__text{
    margin-top: 22px;;
    font-family: TitilliumWeb-Regular, sans-serif;
    font-size: 1rem;
    color: rgba(149, 147, 147, 255);
}
.main__devices__stores{
    display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 13px;
    margin-top: 31px;
    margin-left: 64px;
}
.main__devices__app-store{
    background: url('./assets/appStore.png') no-repeat;
    height: 55px;
}
.main__devices__google-store{
    background: url('./assets/googlePlay.png') no-repeat;
    height: 55px;
}
.main__privacy{
    position: absolute;
    top: 75.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    text-align: center;
}
.main__privacy__text{
    text-align: center;
}
.main__privacy__text__title {
    font-size: 2.2rem;
    font-family: TitilliumWeb-Regular, sans-serif;
    color: rgba(83, 83, 83, 255);
}
.main__privacy__text__subtitle {
    display: block;
    margin-top: 10px;
    font-size: 1.8rem;
    font-family: TitilliumWeb-Regular, sans-serif;
    color: rgba(149, 147, 147, 255);
}
.main__privacy__btn__upgrade{
    background-image: url('./assets/Layer\ 8@1X.png'), url('./assets/upgradeBtn.png');
    width: 246px;
    height: 56px;
    border-radius: 3em/3em;
    box-shadow: 0 2px 24px -2px;  
    margin-right: 48px; 
   font-size: 1.2rem;
   font-weight: bold;
   margin-top: 29px;
}
.main__privacy__btn__donate{
    background: url('./assets/Layer\ 6@1X.png'), url('./assets/donateBtn.png');
    width: 166px;
    height: 56px;
    border-radius: 3em/3em;
    box-shadow: 0 2px 24px -2px;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn__text--white{
    color: rgba(255, 255, 255, 255);
}
.main__privacy__sponsors{
    position: absolute;
    top: 83%;
    left: 53%;
    width: 974px;
    transform: translate(-50%, -50%);
    text-align: right;
}
.main__privacy__sponsors__logo{
    background: url('./assets/sponsors.png');
    width: 974px;
    height: 92px;
}
.main__privacy__sponsors__text{
    font-size: 0.83rem;
    font-family: TitilliumWeb-Regular, sans-serif;
    color: rgba(122, 122, 122, 255);
    padding-right: 64px;
}
.footer__info__wrap{
    display: flex;
    position: absolute;
    top: 89.6%;
    left: 12.2%;
    right: 15%;
    font-size: 0.83rem;
    font-family: TitilliumWeb-Regular, sans-serif;
    color: rgba(92, 92, 92, 255);
    line-height: 1.7rem;
}
.footer__info{
    /*width: 215px;
    height: 130px;*/
    min-width: 215px;
    min-height: 130px;
}
.footer__info__mail-link{
    font-weight: bold;
}
.footer__info__mail-support{
    display: block;
    margin-top: 15px;
}
.footer__info-links__wrap{
    position: relative;
    width: 100%;
}
.footer__info-links{
    position: absolute;
    display: flex;
    right:16%;
    text-align: right;
}
.footer__info-links__company{
    width: 94px;
    height: 152px;
}
.footer__info-links__legal{
    margin-left: 76px;
    width: 175px;
    height: 152px;
}
.footer__info-links__neutron{
    margin-left: 94px;
    width: 108px;
    height: 152px;
}
.footer__info-links__company__sub,
.footer__info-links__legal__sub,
.footer__info-links__neutron__sub
{
    padding: 0;
}
.footer__info-links__company__title,
.footer__info-links__legal__title,
.footer__info-links__neutron__title{
    font-weight: bold;
    font-size: 1rem;
}
.footer__media__item{
    list-style: none;
    margin-right: 10%;
    position: relative;
}
.footer__media__item::after{
    content: '/';
    display: block;
    position: absolute;
    left: 100%;
    margin-left: 10%;
    top: 3px;
}
.footer__media__item:last-child::after{
    display: none;
}
.footer__media__items{
    display: flex;
    position: absolute;
    left: 9%;
    top: 96.8%;
}
.footer__media__items a{
    text-decoration: none;
}
.footer__media__item__link:hover{
    color: #585454;
    font-weight: bold;
    text-decoration: underline;
}
.footer__media__item__link{
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 0.8rem;
    color: rgba(149, 149, 149, 255);
    align-items: flex-start;
}
.footer__copyright{
    font-family: TitilliumWeb-Bold, sans-serif;
    font-size: 0.8rem;
    color: rgba(149, 149, 149, 255);
    position: absolute;
    top:98.4%;
    left: 11%;
}
@media (max-width: 1546px){
    .main__devices{
        left: 45%;
    }
}
@media (max-width: 1490px){
    .main__partners__logo__img{
        display: none;
    }
}
@media (max-width: 1250px){
    .main__banner__btn{
        top: 20%;
    }
    .main__phys-security{
        top: 44%;
        left: 38%;
    }
    .main__phys-security__title{
        font-size: 2.7vw;
        text-align: center;
    }
    .main__phys-security__subtitle{
        font-size: 1.2rem;
        text-align: center;
    }
    .main__phys-security__btn__secur-feat{
        left: 111%;
        top:18%;
    }
    .main__feat{
        top: 26%;
        left: 15%;
        right: 7%;
    }
    .main__quote {
        top: 51%;
        left: 5%;
    }
    .main__quote__text{
        font-size: 1.8vw;
    }
    .main__devices {
        top: 64%;
        left: 24%;
        text-align: center;
        font-size: 2rem;
    }
    h1{
        font-size: 4vw;
    }
    .main__feat__privacy__main-title,
    .main__feat__encrypt__main-title,
    .main__feat__anonym__main-title {
        font-size: 2vw;
    }
    .main__feat__encrypt__image {
        width: 32%;
    }
    .main__devices__title {
        font-size: 2.7vw;
    }
    .main__privacy{
        top: 77%;
    }
    .main__privacy__text__title {
        font-size: 2.5vw;
    }
    .main__privacy__text__subtitle {
        font-size: 2vw;
    }
    .main__privacy__btn__upgrade {
        width: 180px;
        height: 41px;
        font-size: 1.5vw;
        margin-top: 26px;
    }
    .main__privacy__btn__donate {
        width: 135px;
        height: 41px;
        font-size: 1.5vw;
        margin-top: 5px;
    }
    .main__privacy__sponsors {
        display: none;
    }
    .footer__info__wrap {
        top: 85%;
        right: 5%;
        left: 5%;
    }
    .footer__info-links__wrap {
        right: -10%;
    }
    .footer__media__items {
        padding: 0;
        top: 96%;
        left: 5%;
    }
    .footer__copyright {
        top: 98.5%;
        left: 5%;
    }

}
@media (max-width: 520px) {
    .main__feat {
        flex-direction: column;
    }
}